<%- include('../../partials/head.ejs') %> 
<div class="container my-container">
  <div class="jumbotron">
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, et!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis unde quae cupiditate laboriosam dicta excepturi placeat, maiores porro minima ipsum deserunt tenetur sequi, fugiat ex quod illum quasi? Cumque, ipsam?   </p>
    
  </div>
</div>


<%- include ('../../partials/footer.ejs') %> 

</body>
</html>