<%- include('../../partials/head.ejs',{title:'404 Not Found'}) %> 
<div class="container my-container my-5">
  <h2 class="display-4 text-center">404 Not Found</h2>
</div>


<%- include ('../../partials/footer.ejs') %> 

</body>
</html>